NET "clk_100MHz" LOC = P50;
NET "rst" LOC = P51;
NET "lights[0]" LOC = P132;
NET "lights[1]" LOC = P131;
NET "lights[2]" LOC = P127;
NET "lights[3]" LOC = P126;
NET "lights[4]" LOC = P124;
NET "lights[5]" LOC = P123;
NET "lights[6]" LOC = P121;
NET "lights[7]" LOC = P120;